body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.admin-layout main {
  background-color: #fdfdfd;
  border-left: 1px solid #eee;
  font-family: "Poppins", sans-serif; 
}




/* ================= NAV BADGE ================= */
.nav-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  min-width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 600;

  color: #fff;
  background: #111;
  border-radius: 50%;
  padding: 0 4px;

  animation: badge-pop 0.3s ease;
}

@keyframes badge-pop {
  0% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
