/* Background */
/* .landing-bg {
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1520975918318-3d4b03b4f071?auto=format&fit=crop&w=1500&q=80")
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
} */

.landing-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c, #2a2a2a);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


/* Glass Card */
.content-box {
  background: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 12px;
}

/* Brand Title */
.brand-title {
  font-family: "Playfair Display", serif !important;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 3px;
}

/* Tagline */
.sub-tagline {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  color: #e8e8e8;
  margin-top: -8px;
}

/* Coming Soon */
.coming-title {
  font-family: "Poppins", sans-serif !important;
  font-size: 28px;
  color: #ffecec;
  letter-spacing: 2px;
}

.coming-text {
  font-family: "Poppins", sans-serif !important;
  color: #f3f3f3;
  font-size: 15px;
}

/* Mobile */
@media (max-width: 480px) {
  .brand-title {
    font-size: 34px;
  }

  .coming-title {
    font-size: 20px;
  }

  .content-box {
    padding: 20px;
  }
}
